$battleship_grey: #828282;
$bleu_de_france: #2f80ed;
$dune: #333;
$eucalyptus: #219653;
$faded_orange: #f2994a;
$jade_green: #27ae60;
$lavender_pinocchio: #e0e0e0;
$pale_teal: #6fcf97;
$white: #fff;

