$battleship_grey: #828282;
$bleu_de_france: #2f80ed;
$curious_blue: #2d9cdb;
$dune: #333;
$eucalyptus: #219653;
$faded_orange: #f2994a;
$jade_green: #27ae60;
$lavender_pinocchio: #e0e0e0;
$liver: #4f4f4f;
$pale_teal: #6fcf97;
$saffron-mango: #f2c94c;
$valentine_red: #eb5757;
$white: #fff;

@mixin icon($url, $height, $width){
    background: url($url) no-repeat;
    height: $height;
    width: $width;
}

