@use "../assets/scss/global.scss";

.tile_item{
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 100px;
    margin: 5px;
    text-align: center;
    vertical-align: top;
    width: 100px;

    &.empty{
        background-color: global.$battleship_grey;
    }

    &.tilled{
        background-color: global.$faded_orange;
    }

    &.planted{
        background-color: global.$saffron-mango;
    }

    &.harvest{
        background-color: global.$eucalyptus;
    }

    span.time_left{
        color: global.$dune;
        font: 400 14px/10px "Public Sans";
    }

    span.crop_value{
        color: global.$white;
        font: 400 14px/10px "Public Sans";
    }   

    span.icon{
        display: block;
        margin: 15px auto 0;

        &.potato_icon{
            @include global.icon("../assets/images/Potato.svg", 60px, 70px);
        }

        &.onion_icon{
            @include global.icon("../assets/images/Onion.svg", 55px, 55px);
        }

        &.carrot_icon{
            @include global.icon("../assets/images/Carrot.svg", 60px, 23px);
        }

        &.corn_icon{
            @include global.icon("../assets/images/Corn.svg", 60px, 43px);
        }
    }
}