@use "./assets/scss/global.scss";

.App{
    background-color: global.$pale_teal;
    border-left: 22px solid global.$jade_green;
    border-right: 22px solid global.$jade_green;
    min-height: 100vh;

    h1{
        background-color: global.$eucalyptus;
        color: global.$white;
        font: 400 24px/24px "Public Sans";
        height: 50px;
        margin: 0;
        padding: 13px 22px;
    }

    main{
        padding: 40px 0 40px;
        width: 100%;

       #tile_container{
            list-style-type: none;
            margin: 0 auto;
            padding-left: 0;
            width: 440px; 

            #total_earnings{
                font: 700 20px/16px "Public Sans";
                margin-top: 19px;
                padding-left: 5px;

                #earning_value{
                    font: 700 20px/16px "Public Sans";
                }
            }

            .popover-body{
                padding: 10px;
            }

            #expand_land_button{
                background-color: global.$curious_blue;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                height: 60px;
                width: 210px;   

                &:hover{
                    background-color:darken(global.$curious_blue, 10%);
                }
                
                &:disabled, &:disabled:hover{
                    background-color:global.$curious_blue;
                    opacity: 80%;
                }

                span{
                    color: global.$white;
                    display: block;
                    font: 700 16px/18px "Inter";
                }
            }
        } 
    }
}

#popover-container{

    button{
        border-radius: 5px;
        border: 0;
        color: global.$white;
        display: block;
        font: 400 24px/24px "Public Sans";
        height: 40px;
        padding: 8px 17px 8px 17px;
        width: 124px;
        
        &.overlay_button{
            background-color: global.$bleu_de_france;

            &:hover{
                background-color: darken(global.$bleu_de_france, 10%);
            }

            &.remove{
                background-color: global.$liver;

                &:hover{
                    background-color: darken(global.$liver, 10%);
                }
            }
       } 
    }

    button + button{
        margin-top: 10px;
    }
}

